body {
    background: url("../images/body.png") #0d0d0d;
    @media screen and (max-width: 768px) {
        background-size: contain;
    }
}

a {
    color: #E4D3B0;
    text-decoration: none;
    &:hover {
        color: #F4E1A1;
    }
}
.fs-20 {
    font-size: 20px;
}
.bg-dark__theme {
    background: #0d0d0d;
}