@font-face {
    font-family: 'iCielBCPortico-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('iCielBCPortico-Regular'), url('iCielBCPortico-Regular.woff') format('woff');
}
@font-face {
    font-family: 'iCielSupaMegaFantastic-Caps';
    font-style: normal;
    font-weight: normal;
    src: local('iCielSupaMegaFantastic-Caps'), url('iCielSupaMegaFantastic-Caps.woff') format('woff');
}